@import './vars.css';

.section-title,
.section-subtitle {
    text-align: center;
}

.section-title {
    font-size: var(--big-font-size);
    color: var(--color-white);
    margin-bottom: var(--mb-3);
}

.section-subtitle {
    display: block;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--color-primary)
}

/* ===== BOX ===== */
.box__contact {
    position: relative;
    overflow: hidden;
    padding: 2.5rem;
    border-radius: 1.25rem;
    background: var(--color-black-secondary);
}

.box__title {
    color: var(--color-primary);
    font-size: var(--big-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-1);
}

.box__subtitle {
    color: var(--color-white);
    font-size: var(--medium-font-size);
    margin-bottom: var(--mb-6);
}

/* ===== HOME ===== */
.home {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.home__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
}

.home__bg {
    position: absolute;
    opacity: .3;
    top: 0;
    width: 100%;
    height: 100%;
}

.home__container {
    position: relative;
    padding-block: 3rem 6rem;
    height: 100vh;
}

.home__title {
    font-family: "Fredoka", sans-serif;
    color: var(--color-white);
    font-weight: var(--font-semi-bold);
    font-size: var(--biggest-font-size);
    margin-bottom: var(--mb-3);
    text-align: center;
}

.home__title span {
    color: var(--color-primary);
    font-size: var(--biggest-font-size);
}

.home__subtitle {
    display: block;
    font-size: var(--semi-normal-font-size);
    color: var(--color-white);
    margin-bottom: var(--mb-3);
    text-align: center;
}

.social__container {
    display: flex;
    gap: 1rem;
}

.social__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-2);
    color: var(--color-gray);
}

.home__social-link,
.social__link {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.home__social-link a,
.social__link a {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    background: rgba(255, 255, 255, 0.08);
    transition: all 0.4s ease;
    z-index: 1;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
}

.home__social-link a:hover,
.social__link a:hover {
    color: var(--color-white);
}

.home__social-link a::after,
.social__link a::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background: var(--color-primary);
    opacity: 0.06;
    transform: scale(0);
    transition: all 0.4s ease;
    z-index: -1;
}

.home__social-link a:hover::after,
.social__link a:hover::after {
    opacity: 1;
    transform: scale(1);
}

/* ===== HOME - CONTACT ROTATE BUTTON ===== */
.background__btn {
    background: var(--color-primary);
    position: absolute;
    right: 12%;
    bottom: 3rem;
    right: 0;
}

.background__btn:hover {
    box-shadow: 0 .25rem 1rem 0 rgba(255, 87, 34, 0.3);
    color: var(--color-black);
}

.contact_rotate__btn {
    color: var(--color-white);
    width: 11.5rem;
    height: 11.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: .3s;
}

.contact_rotate__btn i {
    font-size: 4rem;
    position: absolute;
}

.contact_rotate__btn p {
    font-size: 1rem;
    font-weight: var(--font-bold);
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    animation: spinText 12s linear infinite;
}

.contact_rotate__btn p span {
    position: absolute;
    transform-origin: 0.3rem 5rem;
}

@keyframes spinText {
    to {
        transform: rotate(360deg);
    }
}

/* ===== ABOUT ===== */
.about__data {
    text-align: center;
}

.about__description {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--color-gray-secondary);
}

/* ===== SKILL ===== */
.skill__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1.25rem;
    row-gap: 1.875rem;
}

.skill__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1.5rem;
    padding: 1.5rem 2.5rem;
    background-color: rgba(40, 40, 40, 0.6);
    border: 2px solid transparent;
    transition: .5s ease-in-out;
}

.skill__icon {
    width: 5rem;
    height: 5rem;
    -webkit-filter: grayscale(90%);
    transition: .3s ease-in-out;
}

.skill__box:hover .skill__icon {
    -webkit-filter: grayscale(0);
    transform: scale(1.1);
}

.skill__box:hover {
    background-color: var(--color-primary-10);
    border: 2px solid var(--color-primary-light);
}

.skill__box span {
    color: #6c6c6c;
    font-weight: var(--font-semi-bold);
    font-size: var(--semi-normal-font-size);
    transition: all .4s ease-in-out 0s;
}

.skill__box:hover span {
    color: var(--color-primary-light);
    font-weight: var(--font-bold);

}

/* ===== PORTFOLIO ===== */
.portfolio__content {
    background-color: var(--color-black-secondary);
    border-radius: 1rem;
    padding: 1.25rem;
    border: none;
    overflow: hidden;
    width: 100%;
}

.portfolio__img {
    width: 100%;
    max-width: 508px;
    height: 400px;
    transition: .4s;
    border-radius: 1.25rem;
    object-fit: cover;
}

.img__spotify {
    background-image: url("../assets/img/img_portfolio_spotify.webp");
}

.img__locacao {
    background-image: url("../assets/img/img_portfolio_locacao.webp");
}

.portfolio__scroll {
    background-position: 100% 0%;
    background-size: cover;
    max-width: 508px;
    height: 400px;
    transition: 5s;
    border-radius: 1.25rem;
    cursor: pointer;
}

.portfolio__scroll:hover {
    background-position: 100% 100%;
}

.portfolio__data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.25rem;
}

.portfolio__title {
    font-size: var(--h2-font-size);
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

.portfolio__title:hover {
    color: var(--color-primary);
}

.portfolio__link {
    display: flex;
    align-items: center;
    border-radius: 3rem;
    border: 2px solid var(--color-gray-dark);
    padding: .5rem 1rem;
    transition: all .4s ease-in-out;
    cursor: pointer;
    color: var(--color-primary);
    line-height: 1.5rem;
    font-size: 1.375rem;
}

.portfolio__link:hover {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);
}

.portfolio__content:hover .portfolio__img {
    transform: scale(1.02);
}

.portfolio__stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    gap: 0.5rem
}

.portfolio__stack span {
    border-radius: 3rem;
    border: 2px solid var(--color-primary-10);
    padding: .5rem 1rem;
    color: var(--color-primary);
    font-size: 0.8125rem; 
}

/* ===== CONTACTME ===== */
.contact__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.contact__info {
    flex: 1 1 300px;
}

.contact__data {
    display: flex;
    flex-direction: column;
}

.contact__form {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    gap: 1.25rem;
}

.contact__row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.contact__link {
    display: flex;
    flex-direction: column;
}

.contact__link li {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 1rem;
}

.contact__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100px;
    color: var(--color-primary);
    background: rgb(255, 87, 34, 0.2);
}

.contact__title {
    font-size: var(--small-font-size);
    color: var(--color-gray-secondary);
}

.contact__description {
    font-size: var(--h2-font-size);
    color: var(--color-white);
    display: block;
}

.contact__input {
    flex: 1;
    padding: 1.25rem;
    border-radius: .625rem;
    border: 2px solid var(--color-gray-secondary);
    color: var(--color-white);
    background-color: var(--tranparent);
    transition: all .3s ease-out;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}

.contact__input:focus {
    border: 2px solid var(--color-primary);
}

.contact__input::placeholder {
    color: var(--color-gray-secondary);
    font-weight: var(--font-semi-bold);
}

textarea {
    resize: none;
}

.contact__button {
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 2rem;
    padding: 1rem;
    border: 2px solid var(--color-primary);
    font-size: 1rem;
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    gap: .5rem;
}

.contact__button:hover {
    background-color: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary)
}

.contact__button i {
    font-size: 1.75rem;
}

.contact__button:hover i {
    margin-left: .25rem;
    transition: all 0.3s ease-in-out, color 0s ease;
}

/* ===== FOOTER ===== */
.footer {
    background-color: var(--color-black);
    color: var(--color-white);
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;
    border-top: 1px solid var(--color-gray-secondary);
}

.footer__copy {
    font-size: var(--small-font-size);
    color: var(--color-gray-secondary);
}

/* ===== SCROLL TOP ===== */
.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background-color: var(--color-primary);
    border-radius: .5rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}

.scrolltop__icon {
    font-size: 2rem;
    color: var(--color-white);
}

.scrolltop:hover {
    transform: translateY(-15%);
}

/* ===== SHOW SCROLL TOP ===== */
.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}

.no-scroll {
    overflow: hidden;
}